@import '../../App.css';

.footer-container {
  background-color: var(--primaryB);
  padding: 10vh 6vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary);
}

.footer-subscription-heading {
  margin-bottom: 1vh;
  font-size: 3rem;
  color: var(--primary);
}

.footer-subscription-text {
  margin-bottom: 4vh;
  font-size: 2.2rem;
  color: var(--mainB);
}

.input-form {
  padding: 15px;
  /* 둘이 미묘한 높이 차이 ... */
}

.footer-input {
  padding: 10px 35px;
  margin-right: 20px;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

.footer-bottom {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  margin-right: 3vw;
}

.footer-links {
  margin-left: 3vw;
}

.social-icon-link {
  color: var(--primary);
  font-size: 2.5rem;
  padding: 10px;
}

.footer-link-item {
  color: var(--primary);
  font-size: 1.8rem;
  text-decoration: none;
  padding: 10px;
}

@media (max-width: 1024px) {
  .footer-subscription-heading{
    font-size: 2rem;
  }

  .footer-subscription-text {
    font-size: 1.8rem;
  }

  .footer-input {
    font-size: 1.2rem;
  }

  .social-icon-link {
    font-size: 2.2rem;
  }
  
  .footer-link-item {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {

  .footer-subscription-heading{
    font-size: 2.7rem;
  }

  .footer-subscription-text {
    font-size: 2rem;
  }

  .footer-input {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.5rem;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .footer-links {
    margin: 0;
    margin-bottom: 30px;
  }

  .footer-link-item {
    font-size: 1.5rem;
  }

  .social-icons {
    margin: 0;
  }

  .social-icon-link {
    font-size: 2rem;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .footer-subscription-heading{
    font-size: 1.5rem;
  }

  .footer-subscription-text {
    font-size: 1.2rem;
  }

  .footer-input {
    font-size: 1rem;
  }

  .footer-link-item {
    font-size: 1rem;
  }
}